html, body {
  margin: 0;
  padding: 0;
  font-family: "Inder", sans-serif;
}
* {
  box-sizing: border-box;
}
h6 {
  color: #c3590e;
}

.container.header {
  background-color: #303030;
  color: white;
  padding-left: 200px;
  padding-right: 200px;
  font-size: 12px;
  overflow-x: hidden;
  overflow-y: auto;
  white-space: wrap;
  position: relative;
}
.close {
    top: 0;
    right: 0;
    position: relative;
}
.nav-link,
.d-inline.block.nav {
  margin-left: 20px;
}
.none {
  list-style: none;
  display: inline;
}
.vl {
  border-left: 1px solid rgb(230, 54, 55);
  height: 20px;
}
.one,
.d-inline.block.dropdown-toggle {
  color: #626262;
  text-decoration: none;
}
.one {
  padding-right: 20px;
  padding-left: 20px;
}
.container.banner {
  position: relative;
  /*margin-bottom: -50px;*/
}
.container.links {
  padding-top: 15px;
  padding-bottom: 15px;
  border-radius: 6px;
  text-align: center;
  position: absolute;
  left: 30%;
  transform: translateX(-20%);
  width: 800px;
  margin-top: -30px;
  z-index: 1;
  background-color: #ffffff;
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.07);
  overflow-y: hidden;
  overflow-x: auto;
  white-space: nowrap;
}
.banner .card-img-overlay {
  padding-top: 90px;
  padding-left: 100px;
  overflow-x: hidden;
  overflow-y: auto;
  white-space: nowrap;
}


.course .card-img-top{
  border-radius: 10px;
}

.btn {
  background: linear-gradient(
    to right,
    rgb(255, 101, 0) 0%,
    rgb(234, 72, 37) 52%,
    rgb(230, 54, 55) 100%
  );
  color: white;
  border-radius: 6px;
  max-width: 100%;
}
.btn-sm.mt-2.mb-2 {
  font-size: 10px;
  border-radius: 4px;
}
.container.course.text-center {
  background-color: #f4f4f4;
  padding-top: 80px;
}
.card-img-top {
  border-radius: 20px;
}
h2.color {
  background: linear-gradient(
    to right,
    rgb(255, 135, 0) 0%,
    rgb(230, 54, 55) 100%
  );
  -webkit-text-fill-color: transparent;
  background-clip: text;
  font-weight: bolder;
}
.link {
  text-decoration: underline;
  color: rgb(230, 54, 55);
}
.round {
  border-radius: 50%;
  border: 3px solid rgb(230, 54, 55);
}

.row.text-left {
  margin: 50px 100px;
}
.box.overlay {
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.07);
  padding: 20px;
  text-align: left;
  font-weight: bold;
  font-size: small;
  max-width: 80%;
  border-radius: 20px;
  bottom: 0;
  position: absolute;
  z-index: 1;
  margin-bottom: -110px;
  background-color: white;
}
.container.container-box {
  position: relative;
  margin-bottom: 25px;
  margin-top: 110px; /* to avoid overlapping due to -110px mb of box-overlay */
}

.box {
  max-width: 100%;
}
.row.course {
  margin-bottom: 110px; /* to avoid overlapping due to 110px mt of container */
  margin-top: -50px;
  margin-left: 50px;
  margin-right: 50px;
}

.card.m-2.two {
  border-radius: 6px;
  box-shadow: 5px 10px 10px 5px #f1ecec;
  font-size: 12px;
}

.container.footer {
  background-color: #303030;
  color: white;
  padding: 60px;
  font-size: 12px;
}
.new {
  border: 1px solid #494949;
}
.navround {
  border-radius: 50%;
  border: 2px solid rgb(230, 54, 55);
  margin-left: 20px;
}
.img {
  margin-right: 10px;
}
/*responsiveness of footer */
@media only screen and (max-width: 576px) {
  .col-lg-2.col-sm-6.col-12,
  .col-lg-3.col-sm-6.col-12 {
    text-align: center;
  }
  /*.container.links {
        max-width:100px;
      }*/
}
@media only screen and (min-width: 576px) {
  .col-lg-2.col-sm-6.col-12,
  .col-lg-3.col-sm-6.col-12 {
    text-align: left;
  }
}
/*responsiveness of container links */
@media only screen and (max-width: 1200px) and (min-width: 778px) {
  .container.links {
    right: 10%;
    transform: translateX(-20%);
    width: 500px;
  }
}
@media only screen and (max-width: 778px) {
  .container.links {
    right:10%;
    transform: translateX(-20%);
    width: 300px;
  }
}
@media only screen and (max-width: 960px) {
  .card.m-2.two, .box.overlay {
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
  }
}
